<!DOCTYPE html>
<html>
<head>
<?php include_once "../../php/meta.php"; ?>
<title>004-01</title>
<meta name="description" content="">
</head>
<body>
<?php include_once "../../php/g_head.php"; ?>
<?php include_once "../php/lv3.php"; ?>
<article class="wrapper">
<section >
<h2>004-02</h2>
<img class="main_image" src="./img/noimage.jpg" >
<h2>状況：004-03</h2>
<p>004-04</p>
</section>
<section>
<h2>行動：004-05</h2>
<div class="command">
<h3>どうする？</h3>
<a href="001.html">004-06</a><br>
</div>
</section>
</article>
<?php include_once "../../php/g_footer.php"; ?>
</body>
</html>
