<!DOCTYPE html>
<html>
<head>
<?php include_once "../../php/meta.php"; ?>
<title>005-01</title>
<meta name="description" content="">
</head>
<body>
<?php include_once "../../php/g_head.php"; ?>
<?php include_once "../php/lv3.php"; ?>
<article class="wrapper">
<section >
<h2>005-02</h2>
<img class="main_image" src="./img/noimage.jpg" >
<h2>状況：005-03</h2>
<p>005-04</p>
<h2>⭐︎ミッションクリア⭐︎</h2>
<p>005-05</p>
<p>END</p>
<hr>
<div class="credit">
<h3>製作者</h3>
<p>物語設定：005-06</p>
<p>ゲーム設計：005-07</p>
<p>イラスト：005-08</p>
</div>
</section>
</article>
<?php include_once "../../php/g_footer.php"; ?>
</body>
</html>
