<!DOCTYPE html>
<html>
<head>
<?php include_once "../../php/meta.php"; ?>
<title>analog_game1-03</title>
<meta name="description" content="">
</head>
<body>
<?php include_once "../../php/g_head.php"; ?>
<?php include_once "../php/lv3.php"; ?>
<article class="wrapper">
<section>
<h2>最後の難関</h2>
<img class="main_image" src="./img/page3.jpg" >
<h2>状況：プッシュボタン</h2>
<p>なわ梯子をのぼるとそこにはひと一人が這いつくばって、ようやく通れるぐらいの通気口になっていた。</p>
<p>通気口は長かった。薄暗いなか四つん這いで進み続けてもなにもなく私は不安になった。</p>
<p>10分も経っただろうか、上方に突如、扉があった。金属でできた頑丈な扉だ。</p>
<p>どうやら地上へと繋がる扉のようだ。その脇には扉をあけるためであろうプッシュボタンがある。</p>
<img class="main_image" src="./img/page3lv3.jpg" >
<p>0から9まで10のボタンが並んでいる。そして、ボタンの上には「N-1=？」と大きく書いてある。これはいったいどういうことだろう。</p>
</section>
<section>
<h2>行動：ボタンを押す</h2>
<div class="command">
<h3>どうする？</h3>
<a href="0e2.html">0を押す</a><br>
<a href="0e2.html">1を押す</a><br>
<a href="005.html">2を押す</a><br>
<a href="0e2.html">3を押す</a><br>
<a href="0e2.html">4を押す</a><br>
<a href="0e2.html">5を押す</a><br>
<a href="0e2.html">6を押す</a><br>
<a href="0e2.html">7を押す</a><br>
<a href="0e2.html">8を押す</a><br>
<a href="0e2.html">9を押す</a><br>
</div>
</section>
</article>
<?php include_once "../../php/g_footer.php"; ?>
</body>
</html>
