<!DOCTYPE html>
<html>
<head>
<?php include_once "../../php/meta.php"; ?>
<title>index01</title>
<meta name="description" content="">
</head>
<body>
<?php include_once "../../php/g_head.php"; ?>
<?php include_once "../php/lv3.php"; ?>
<article class="wrapper">
<section >
<h2>index02</h2>
<img class="main_image" src="./img/room.jpg" >
<h2>状況：index03</h2>
<p>index04</p>
</section>
<section>
<h2>行動：index05</h2>
<div class="command">
<h3>どうする？</h3>
<a href="001.html">index06</a><br>
<a href="004.html">index07</a><br>
</div>
</section>
</article>
<?php include_once "../../php/g_footer.php"; ?>
</body>
</html>
